.project-head {
}

.deliverable-panel {
  padding: 12px;
}

.deliverable-list {
  width: 25%;
  margin-right: 10px;
}

.deliverable-draft {
  flex-grow: 1;
  padding: 5px;

  h1 {
    font-size: 36px;
  }
}
