.draft-panel {
  height: 1000px;
  overflow-y: scroll;
  padding: 10px;
}

.attachment {
  padding: 36px 0;
  width:100%;
  border-radius: 20px;
  border: 2px dashed black;
}

.preview {
  flex-grow: 1;
  margin-right: 10px;
  background-color: rgba(84, 83, 83, 0.3);
}

.comments-list {
  width:25%;
}

.new-comment {
  margin-bottom: 10px;
}
.comment-form {

}
.comment-content {
  padding: 5px 0px;
}

.author-details {
  display: flex;
  align-items: center;

  p {
    line-height: 10px;
    font-size:12px;
    vertical-align: middle;
    margin: 2px 0px;
  }
}
