// Specific CSS for your home-page
.dropdown-custom {
  border-bottom:none;
  background: linear-gradient(to right, #9eb2fd 0%, #b692ff 100%);
  color:white;
}
.dropdown-custom:hover {
  color:darkgray;
}
.custom-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.custom-container {
  max-height: 80%;
}

.custom-row {
  display: grid;
}

select {
  background: none;
  border: none;
  border-bottom: 0.5px dashed black;
}

.upcoming-tasks {
  height: 300px;
  position: sticky;
  padding: 20px;
  overflow: hidden;
}

.notification {
  color: black;
}

.notification:hover {
  background-color: rgba(51, 50, 50, 0.1);
}

.projects {
  height: auto;
}

.header {
  font-size: 24px;
}

.action-panel {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}
.action-bar-categories {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: row;
  padding: 0 10px;

  li {
    width: 20%;
  }
}
.action-bar-list {
  padding-left: 0px !important;
}

// filterbar
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    border-radius: 10px;

    a {
    cursor: pointer;
    }

    .nav-link {
      color:black;
    }

    .nav-link.active {
      color:white;
      background-image: linear-gradient(to right, #9eb2fd 0%, #b692ff 100%);
    }
}
