// Specific CSS for your home-page
.dropdown-custom {
  border-bottom:1px dashed $purple;
  color:black;
}
.dropdown-custom:hover {
  border:1px dashed $purple;
  color:darkgray;
}
.custom-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.custom-container {
  max-height: 80%;
}

.custom-row {
  display: grid;
}

select {
  background: none;
  border: none;
  border-bottom: 0.5px dashed black;
}

.upcoming-tasks {
  height: 300px;
  position: sticky;
  padding: 20px;
  overflow: hidden;
}

.projects {
  height: auto;
}

.header {
  font-size: 24px;
}

.action-panel {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}
.action-bar-categories {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: row;
  padding: 0 10px;

  li {
    width: 20%;
  }
}
.action-bar-list {
  padding-left: 0px !important;
}

// filterbar
.filter-bar {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    border-radius: 10px;
    height:40px;

    a {
    cursor: pointer;
    height:40px;

    }

    .nav-link {
      color:black;
    }

    .nav-link.active {
      color:white;
      background-image: linear-gradient(to right, #9eb2fd 0%, #b692ff 100%);
      height:40px;

    }
}

.show-delete-content {
  font-size: 24px;
  text-align: center;
  color: black;
  background-color: rgba(145, 145, 145, 0.28);
  border-radius: 10px;
  padding: 20px;
}

.btn-disabled {
  pointer-events: none !important;
}

.show-delete-content:hover {
  color: black;
  cursor: default;
}

//search project
.custom-search {
  border-radius: 10px;
  height: 40px;
}

  // trash icon
.trash-icon-position {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 16px;

  i {
    background: $sync-danger;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  i:hover {
    background: #fb5050;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
