// Specific CSS for your home-page
.custom-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.custom-container {
  max-height: 80%;
}

.custom-row {
  display: grid;
}

select {
  background: none;
  border: none;
  border-bottom: 0.5px dashed black;
}

.upcoming-tasks {
  height: 300px;
  position: sticky;
  padding: 20px;
}

.projects {
  height: auto;
}

.header {
  padding: 0 10px;
  font-size: 24px;
}

.action-bar-categories {
  width:90%;
}

.list-group-item.custom-cat {
  border: 1px solid white;
  flex-grow:1;
}
