.signup-login-button-positioning {
  position: absolute;
  right: 50px;
}

.sign-up-btn {
  color: white;
}

.login-btn {
  background-color: white;
  color: $primary;
}

.card-frosted-nav {
  background: white;
  box-shadow: 2px 2px 10px 1px rgba(176, 176, 176, 0.3);
  border-radius: 15px;
}

//landing page content
.container-landing {
  height: 100vh;
}
.landing-title-lineone {
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 70px;
  padding-top: 60px;
  color: $gray;
  margin-bottom: -6px;
}
.landing-title-linetwo {
  font-family: $body-font;
  font-weight: bold;
  font-size: 60px;
  color: $gray;
}
.container-para {
  width: 50%;
  text-align: center;
}
.button-holder {
  width: 60%;
  text-align: center;
}
.container-about {
  background-color: white;
}
