.review-card-title {
  color: black;
  font-size: 30px;
  padding: 0 5px;
  width: 100%;
}

.review-card-description {
  color: $dark-grey;
  font-size: 24px;
  padding: 0 5px;
  width: 100%;
}

.review-project-header {
  display: flex;
  justify-content: space-between;

  .btn-layout {
    display: flex;
  }
}

a {
  text-decoration: none !important;
}

.review-edit-btn {
  color: black;
  padding: 0 5px;
  text-align: center;
}

.review-submit-btn {
  background-color: none;
  border: none;
  padding: 0 5px;
  text-align: center;
}

.review-submit-btn:hover {
  cursor: pointer;
  color: $primary;
}

.show-deliverable-header {
  font-size: 24px;
  color: $dark-grey;
  padding-left: 10px;
}
.breadcrumb-custom {
  background-color: transparent;
  margin-bottom:0;
}
.breadcrumb-item a {
  text-decoration: none;
  color:$dark-grey;
}
.breadcrumb-item a:hover {
  color:white;
  background-image: linear-gradient(to right, #9eb2fd 0%, #b692ff 100%);
}
.breadcrumb-item.active {
  color:black;
}

//submit new draft
.draft-text-area textarea {
  height:200px;
  width:300px;
  margin-top:15px;
  margin-bottom:15px;
}

.deliverable-title {
  font-size: 24px;
  margin-right: 10px;
}

.deliverable-due-date{
  position: absolute;
  top: 1.5rem;
  right: 10px;
  text-align: right;
}

//carousell on show draft page
.carousel-caption-custom {
  color:black !important;
  background-color: lightgray;
}
