.review-card-title {
  color: black;
  padding: 0 5px;
  width: 100%;
}

.review-card-description {
  color: $dark-grey;
  padding: 0 5px;
  width: 100%;
}

.review-card-date {
  width: 10%;
  text-align: center;
}

.review-project-header {
  display: flex;
  justify-content: space-between;

  .btn-layout {
    display: flex;
  }
}

a {
  text-decoration: none !important;
}

.review-edit-btn {
  color: black;
  padding: 0 5px;
  text-align: center;
}

.review-submit-btn {
  background-color: none;
  border: none;
  padding: 0 5px;
  text-align: center;
}

.review-submit-btn:hover {
  cursor: pointer;
  color: $primary;
}

.show-deliverable-header {
  font-size: 24px;
  color: $dark-grey;
  padding-left: 10px;
}
.breadcrumb-custom {
  background-color: transparent;
  margin-bottom:0;
}
.breadcrumb-item a {
  text-decoration: none;
  color:$dark-grey;
}
.breadcrumb-item a:hover {
  color:white;
  background-image: linear-gradient(to right, #9eb2fd 0%, #b692ff 100%);
}
.breadcrumb-item.active {
  color:black;
}

//submit new draft
.draft-text-area textarea {
  height:200px;
  width:300px;
  margin-top:15px;
  margin-bottom:15px;
}

.deliverable-title {
  margin-right: 10px;
}

.icon {
  background: -webkit-linear-gradient(#26ECA2, #03A4F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deliverable-due-date{
  position: absolute;
  top: 1.5rem;
  right: 10px;
  text-align: right;
}

//carousell on show draft page
.carousel-caption-custom {
  color:black !important;
  background-color: lightgray;
}
.end-date {
    position: absolute;
    width: auto;
    top: 3px;
    right: 5px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 10px 1px rgba(176, 176, 176, 0.3);
    color: $dark-grey;
    height: 32px;
    transition: 200ms;
    z-index: -1;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    animation: 200ms slide-in 1000ms forwards ease-in;
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
