<%= simple_form_for @org do |f| %>
  <h1>Create an organisation profile</h2>
  <div class="form-inputs">
    <%= f.input :name,
        input_html: {class: "form-control"}%>
    <div class="form-actions btn btn-primary">
      <%= f.button :submit, "Create" %>
    </div>
    <%= link_to "Back", new_user_registration_path, class: "px-3" %>
  </div>
<% end %>
