<div class="col-3 border rounded vh-100 py-4">
  <div class="card h-100 p-2 card-white">
    <a href="/" style="text-decoration: none;"><h1>Sync</h1></a>
    <a href="<%=new_project_path%>" class="btn btn-primary rounded">+ New project</a>
  </div>
</div>
