<div >
  <div class="card h-100 p-2 card-white">
    <a href="/" class="logo"><h1>Sync</h1></a>
    <a href="<%=new_project_path%>" class="submit-form-btn btn-bold btn-linkless">+ New project</a>
    <div class="custom-profile">
      <% if current_user.present? %>
        <img src="https://imgur.com/fX4ENYV" alt="profile_pic" class="avatar">
        <strong><%= current_user.username %></strong>
      <% else %>
        <strong>Sign in!</strong>
      <% end %>
    </div>
    <div>
      <h4>Notifications</h4>
      <ul id="notification-list">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </ul>
    </div>
  </div>
</div>
