
<div class="border h-50 overflow-hidden" data-controller="filter">
  <div class="d-flex mb-3 align-items-center justify-content-between">
    <h2>Upcoming Tasks</h2>
    <select data-filter-target="dropdown" data-action="change->filter#filterTasks">
      <option value="week">Week</option>
      <option value="month">Month</option>
    </select>
  </div>
  <a href="deliverables/?deliv_by=week">test</a>
  <div class="container custom-container">
    <ul data-filter-target="list">
      <%= render @deliverables %>
    </ul>
  </div>
</div>
<div class="border h-50">

  <h2>Projects</h2>
  <form data-controller='project-selector'>
    <ul>
      <li data-target="project-selector.option"
          data-action="click->project-selector#filter">
        Ongoing
      </li>
      <li data-target="project-selector.option"
          data-action="click->project-selector#filter">
        Pending
      </li>
      <li data-target="project-selector.option"
          data-action="click->project-selector#filter">
        Saved
      </li>
      <li data-target="project-selector.option"
          data-action="click->project-selector#filter">
        Completed
      </li>
      <li data-target="project-selector.option"
          data-action="click->project-selector#filter">
        All
      </li>
    </ul>
    You chose <input id='option' value="Please Select a status" disabled data-target="project-selector.input">
    <br />
    <input type="submit" value="Select the status" disabled data-target="project-selector.submit">
  </form>

  <div class="container custom-container">
    <div class="custom-row">
      <%= render @projects %>
    </div>
  </div>
</div>
