
<div class="border h-50">
  <h2>Upcoming Tasks</h2>
  <div class="container custom-container">
    <div class="deliv-row">
      <%= render @deliverables %>
    </div>
  </div>
</div>
<div class="border h-50">
  <h2>Projects</h2>
  <div class="container custom-container">
    <div class="custom-row">
      <%= render @projects %>
    </div>
  </div>
</div>
