<div class="vh-100 py-2" style="min-width: 800px;" data-controller="filter">
  <div class="border h-50 overflow-hidden p-4">
    <div class="d-flex mb-3 align-items-center">
      <h4>Upcoming Tasks
        <select data-filter-target="dropdown" data-action="change->filter#filterTasks">
          <option value="week">in the next week</option>
          <option value="two_weeks">in the next two weeks</option>
          <option value="month">in the next month</option>
        </select>
      </h4>
    </div>
    <div class="container custom-container">
      <ul data-filter-target="list">
        <%= render @deliverables %>
      </ul>
    </div>
  </div>
  <div class="border h-50 p-4">
    <h2>Projects</h2>

    <%# <ul class="nav nav-tabs">
      <li class="nav-item" >
        <p class="nav-link active" aria-current="page"
            data-action="click->filter#filterProjects" data-filter-target="Ongoing">Ongoing</p>
      </li>
      <li class="nav-item"
            data-action="click->filter#filterProjects">
        <p class="nav-link" data-filter-target="Pending">Pending</p>
      </li>
      <li class="nav-item"
            data-action="click->filter#filterProjects">
        <p class="nav-link" data-filter-target="Saved">Saved</p>
      </li>
      <li class="nav-item" class="nav-item"
            data-action="click->filter#filterProjects">
        <p class="nav-link" data-filter-target="Completed">Completed</p>
      </li>
      <li class="nav-item" class="nav-item"
            data-action="click->filter#filterProjects">
        <p class="nav-link" data-filter-target="All">All</p>
      </li>
    </ul> %>

    <div data-controller="search-projects">
      <%= form_with url: projects_path, method: :get, html: { class:'mb-4', data: { search_projects_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Search for a project',
                          value: params[:query],
                          data: {
                            search_projects_target: 'input',
                            action: 'keyup->search-projects#update'
                          } %>
      <% end %>

      <div class="container custom-container">
        <ul class="custom-row" data-search-projects-target="list">
          <%= render @projects %>
        </ul>
      </div>
    </div>

  </div>
</div>
