<nav class="navbar navbar-expand-lg navbar-light rounded-0">
  <div class="container-fluid">
    <a class="logo mr-5" href="#">Sync</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
      </ul>
      <div class="signup-login-button-positioning">
        <a href="<%= new_user_session_path %>" class="btn login-btn mx-2">Log in</a>
        <a href="<%= new_user_registration_path %>" class="btn btn-primary sign-up-btn mx-2">Sign up</a>
      </div>
    </div>
  </div>
</nav>

<div class='container container-landing'>
  <div class="landing d-flex flex-column align-items-center pt-5">
    <h3 class='landing-title-lineone'>Take Your Collabs to</h3>
    <h2 class='landing-title-linetwo'>The Next Level</h2>
    <p class='container-para'>Stop getting bogged down by endless back and forth emails and losing track of deadlines. SYNC provides you with a seamless platform for you to keep track of all your projects</p>
    <div class='button-holder pt-3'>
      <button type="button" class="btn-sync-pink mr-2">I am a creator</button>
      <button type="button" class="btn-sync-purple ml-2">I am a brand</button>
    </div>
  </div>
</div>

<div class='container-lg container-about'>
  <h3 class="landing-title-lineone">About Us</h3>
  <h3 class="landing-title-lineone">For Creators: Stay On Top </h3>
  <h3 class="landing-title-lineone">Maximize your campaigns</h3>
</div>
