<h1>enter Project Details</h1>

<div class="container">
  <%= render 'form' %>
</div>


<div class="container" data-controller="insert-deliverables">
  <div class="d-flex justify-content-center">
    <div>
      <h2>Deliverables added:</h2>
      <ul data-insert-deliverables-target="list">
        <li>test</li>
      </ul>
    </div>
    <div>
      <%= render 'deliverables/new' %>
    </div>
  </div>
</div>
