.custom-badge {
  background-color: $primary;
  color: white;
  width: fit-content;
}

.overdue {
  background-color: $sync-danger;
  color: white;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
}

.custom-tag-badge {
  font-size: 85% !important;
}
