.cancelBtn {
  border: 1px none;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgrey;
}

.cancelBtn:hover {
  cursor: pointer;
}

.deletelBtn:hover {
  cursor: pointer;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.submit-form-btn {
  background-color: $primary;
  height: fit-content;
  border-radius: 10px;
  color: white;
  border: 0 none;
  padding: 10px;
  // float: right;
  text-align: center;
}

.submit-form-btn:hover {
  background-color: $orange;
  color: white;
}

.btn-bold {
  font-weight: bold;
}

.btn-linkless {
  text-decoration: none !important;
}

.submit-draft {
  border-radius: 10px;
}

.custom-edit-btn {
  width: -webkit-fill-available;
  background-color: #94B3FD;
  border-radius: 5px;
  color: black;
  padding: 4px 12px;
  margin-bottom: 5px;
}

.new-btn-position {
  float: right;
}
