.cancelBtn {
  border: 1px none;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgrey;
}

.cancelBtn:hover {
  cursor: pointer;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.submit-form-btn {
  background-color: $primary;
  height: fit-content;
  border-radius: 10px;
  color: white;
  border: 0 none;
  padding: 10px;
  float: right;
  text-align: center;
}

.submit-form-btn:hover {
  background-color: $orange;
  color: white;
}

.btn-bold {
  font-weight: bold;
}

.btn-linkless {
  text-decoration: none !important;
}

.submit-draft {
  border-radius: 10px;
}

.comment-btn {
  background-color: $primary;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.comment-btn:hover {
  text-decoration: none;
  border: 1px solid $primary;
  background-color: white;
  color: $primary;
  transition: 150ms;
}
