.card-frosted {
  background: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  /* frosted */

  box-shadow: 2px 2px 10px 1px rgba(176, 176, 176, 0.3);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}

.card-white {
  background: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px 3px rgba(176, 176, 176, 0.3);
  border-radius: 15px;
}

.format-link {
  display: flex;
  flex-direction: column;
}

.deliverable-card {
  display: flex;
  justify-content: space-between;
}

.card-deliverable-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-right: 15px;
  color: $dark-grey;
  font-weight: bold;
  font-size: large;
}

.card-deliverable-details {
  flex-grow: 1;
}

.card-deliverable-content {
  overflow-wrap: break-word;
  width: 200px;
  color: $dark-grey
}

.deliv-card {
  height: 70px;
  align-items: center;
  vertical-align: middle;


  .date {
    width: 40px;
    text-align: center;
  }
}

.deliv-drafts {
  .submitted-date {
    width: 100px;
    margin: 0px 5px;
    font-size: 13px;
  }

  .summary {
    border-radius: 10px;
    flex-grow: 1;
    align-items: center;
  }

  .description {
    font-size: 14px;
  }

  a {
    font-size: 13px;
  }

  .comments {
    width: 120px;
  }
  
.card-long {
  width: 550px
}

.card-equal-size {
  height: max-content;
}

.card-custom-body {
  color: $dark-grey;
  padding: 5px;
}

.card-custom-title {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.card-custom-subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-custom-text {
  margin-bottom: 20px;
}
