.simple_form.custom-form-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

label.optional {
  color: $dark-grey;
  margin-bottom: 0.2rem;
}

.form-margin-bottom {
  margin-bottom: 0.5rem !important;
}

.new-project-form {
  width: 75%;

  .form-group {
    margin-bottom: 0.5rem !important;
  }
}

.custom-form-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
}

.add-deliverables-form {
  width: 100%
}

.deliverable-form-show {
  display: flex;
}

.form-header-details {
  display: flex;
}

.project-header-name {
  display: flex;
  justify-content: space-between;

  .project_brand {
    width: 49% !important;
  }

  .project_name {
    width: 49% !important;
  }
}

.project_project_end {
  margin-bottom: 0 !important;
}
