.simple_form.custom-form-card {
  color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

label.optional {
  color: $dark-grey;
}

.form-margin-bottom {
  margin-bottom: 0.5rem !important;
}


.custom-form-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
}

.add-deliverables-form {
  width: 100%
}

.deliverable-form-show {
  display: flex;
}

.form-header-details {
  display: flex;
}

.deliverable-form-new {
  width: -webkit-fill-available;
}
