.simple_form.custom-form-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

label.optional {
  color: $dark-grey;
  margin-bottom: 0.2rem;
}

.form-margin-bottom {
  margin-bottom: 0.2rem !important;
}

.new-project-form {
  width: 75%;

  .form-group {
    margin-bottom: 0.5rem !important;
  }
}

.add-deliverables-form {
  width: 100%
}

.deliverable-form-show {
  display: flex;
  flex-grow: 1;
}

.form-header-details {
  display: flex;
}

.project_project_end {
  margin-bottom: 0 !important;
}

.new_user {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}

.new_organisation {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
