.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

// _share modal
.role-position-right {
  position: absolute;
  right: 15px;
}

.modal-quick-appear{
  animation-duration: 0.2s;
}
