.custom-profile {
  display: flex;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
  border-style: solid none;
  border-color: lightgrey;
}

.nav-stick {
  position: sticky;
  top: 0;
}

.nav-stick > a:hover {
  text-decoration: none;
}
