.custom-popup {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  width: 250px;
}

.close-btn {
  top: 0;
  right: 0;
}

.close-btn:hover {
  cursor: pointer;
}

.form-header-details {
  display: flex;
  justify-content: space-between;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
}

.custom-input-field {
  margin: 3px 0;
}
