.custom-popup {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  width: 300px;
  border: none;
  color: white;
  background-color: $primary;
  box-shadow: 2px 2px 8px 3px rgba(176, 176, 176, 0.3);
}

.close-btn {
  top: 0;
  right: 0;
}

.close-btn:hover {
  cursor: pointer;
}

.form-header-details {
  display: flex;
  justify-content: space-between;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
}

.custom-input-field {
  margin: 3px 0;
}
