.slideOutTab {
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: rgb(238, 238, 238);
  box-shadow: 2px 2px 8px 3px rgba(176, 176, 176, 0.089);
  border-radius: 15px 0 0 15px;
  width: 40%;
  padding: 10px;
  transform: translateX(100%);
  transition:300ms;
}

.active {
  transform: translateX(0%);
}

.slide-out-content {
  text-align: left;
  color: $dark-grey;

  .tag-list {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.format-slideout-btn {
  display: flex;
  justify-content: flex-end;
}
