.slideOutTab {
  text-align: center;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  right: 0px;
  background: rgb(255, 255, 255);
  box-shadow: -4px -4px 8px 3px rgba(176, 176, 176, 0.267);
  border-radius: 15px 0 0 0px;
  width: 35%;
  padding: 15px;
  transform: translateX(100%);
  transition:300ms;
}

.active {
  transform: translateX(0%);
}

.slide-out-content {
  text-align: left;
  color: $dark-grey;

  .tag-list {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.format-slideout-btn {
  display: flex;
  justify-content: flex-end;
}
