.badge-custom-red {
  background-color:$sync-danger;
  color:white;
}
.badge-custom-purple {
  background-color: $purple;
  color:white;
}
.badge-custom-pink {
  background-color: $pink;
  color:white;
}
.badge-custom-blue {
  background-color: $blue;
  color:white;
}
.badge-custom-yellow {
  background-color: $info;
  color:white;
}
