.badge-custom-red {
  background-color:$red;
  color:white;
  font-size: 80%
}
.badge-custom-purple {
  background-color: $purple;
  color:#353535;
  font-size: 80%
}
.badge-custom-pink {
  background-color: $pink;
  color:#353535;
  font-size: 80%
}
.badge-custom-blue {
  background-color: $blue;
  color: #353535;
  font-size: 80%
}
.badge-custom-yellow {
  background-color: $info;
  color: #353535;
  font-size: 80%;
}
