.notification-icon {
  margin-right:6px;
  font-weight: bold;
  background: $primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comment-icon {
  margin-right:6px;
  font-weight: bold;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
