// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  max-height: 100vh;
  background: linear-gradient(11deg, #e2d0e1 0%, #d2dffe 57%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size:16px;
}

.custom-layout {
  width: 80%;
  margin: 33px auto;
}
.badge-custom {
  color:black;
}

h1 {
  font-size:2.5rem;
}
h2, .header{
  font-size:28px;
}
h3 {
  font-size:20px;
  font-weight:normal;
}
