<div class="container d-flex">
  <div>
    <p>last submitted</p>
    <p><%= draft.created_at %></p>
  </div>
  <div class="border rounded">
    <div>
      <p><%= draft.description %></p>
    </div>
    <div>
      <p>insert comments here or status??</p>
    </div>
  </div>
</div>
