<a href="<%=draft_path(draft)%>" class="text-decoration-none">
  <div class="d-flex deliv-drafts align-items-center card-flat my-1">
    <div class="submitted-date">
      submitted <br>
      <%= draft.created_at.strftime("%b %e, %a") %>
    </div>
    <div class="summary">
      <div class="description">
        <%= draft.description %>
      </div>
      <div class="status">
      <% case draft.status%>
      <% when "approved" %>
        <p class="btn btn-sync-success view-draft-btn">Draft approved</p>
      <% when "pending" %>
        <p class="btn btn-sync-info view-draft-btn">Awaiting review </p>
      <% when "rejected" %>
        <p class="btn btn-sync-danger view-draft-btn">Rejected, view comments</p>
      <% else %>
        <p class="btn btn-primary view-draft-btn">View draft</p>
      <% end %>
      </div>
    </div>
  </div>
</a>
