<div class="d-flex my-2 deliv-drafts">
  <div class="submitted-date">
    submitted
    <%= draft.created_at.strftime("%b %e, %a") %>
  </div>
  <div class="card summary">
    <div>
      <div class="card-body description" style="width: 100;">
        <%= draft.description %>
      </div>
      <div class="comments">
        <%= link_to  "view comments", draft_path(draft) %>
      </div>
    </div>
  </div>
</div>
