<h1><%= @draft.deliverable.deliverable_type %><h1>
<h3><%= @draft.deliverable.description %><h3>
<div>
  <% if @draft.attachment.content_type == "application/pdf" %>
    <%= link_to "Download PDF", @draft.attachment.url, target: :blank %>
  <% else %>
    <img src="<%= @draft.attachment.url %>" alt="image" width='300' height='300'>
  <% end %>
</div>
